USE [master]
GO
/****** Object:  Database [Veteri]    Script Date: 11/08/2022 12:04:53 ******/
CREATE DATABASE [Veteri]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Veteri', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Veteri.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Veteri_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Veteri_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Veteri].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Veteri]
GO
/****** Object:  Table [dbo].[Appointments]    Script Date: 11/08/2022 12:04:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Appointments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PetName] [nvarchar](100) NULL,
	[OwnerName] [nvarchar](100) NULL,
	[Contact] [nvarchar](30) NULL,
	[DateAppointment] [datetime] NULL,
 CONSTRAINT [PK_Appointments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[Usp_getAllData]    Script Date: 11/08/2022 12:04:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Proc [dbo].[Usp_getAllData]  

 @PageNo INT ,  

 @PageSize INT 
As  
Begin  

    Select * From   (Select ROW_NUMBER() Over (  

    Order by DateAppointment  ) AS 'RowNum', *  

         from   [Appointments]  

        )t  where t.RowNum Between ((@PageNo-1)*@PageSize +1) AND (@PageNo*@pageSize)  

        

End  
GO
/****** Object:  StoredProcedure [dbo].[Usp_getAllDataCount]    Script Date: 11/08/2022 12:04:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create Proc [dbo].[Usp_getAllDataCount]  

As  

  

Begin  

        select count(Id) from   [Appointments]  

End  
GO
USE [master]
GO
